@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PGAlineupBuilder.ViewModels.DisplayTourneySalariesViewModel


    <p>@Model.Name.Name</p>

<form method="post" asp-controller="BuildLineupsController" asp-action="BuildDK">
    <label asp-for="NumberOfRosters"></label>
    <input asp-for="NumberOfRosters" />
    <span asp-validation-for="NumberOfRosters"> </span>

    <label asp-for="MaxSalary"></label>
    <input asp-for="MaxSalary" />
    <span asp-validation-for="MaxSalary"> </span>

    <label asp-for="MinSalary"></label>
    <input asp-for="MinSalary" />
    <span asp-validation-for="MinSalary"> </span>

    <input type="submit" value="GENERATE LINEUPS" />

    <table style="width:80%">
        <tr>
            <th>GolferID</th>
            <th>Golfer</th>
            <th>$ Cost</th>
            <th>Exposure</th>
        </tr>
       @foreach (Golfer golfer in Model.Participants)
        {
             <tr>
                    <td>@golfer.Playerid</td>
                    <td>@golfer.Name</td>
                    <td>@golfer.Salary</td>
                    <td>@golfer.Exposure</td>
            </tr>  
        }

    </table>
</form>



@* if(Model.Equals  )
{
    <p>No Tourneys Selected!</p>
    <a asp-action="ChooseDK" asp-controller="BuildLineups">Go Choose a DK Tournament</a>
}
*@