@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section OverrideStyles
{
    <style>
        table {
            border: 1px;
            width: 80%;
            height: 100%;
        }

        th {
            text-align: center;
            background-color: #e68a00;
            color: azure;
        }

        table caption {
            font-size: 200%;
        }

        tr:hover {
            background-color: #FFB273;
        }

        tr:nth-of-type(odd) {
            background-color: #ffebcc;
        }

        tr:nth-of-type(even) {
            background-color: #ffd699;
        }
    </style>
}
@model PGAlineupBuilder.ViewModels.DisplayFDraftTourneySalariesViewModel

<form method="post" asp-controller="BuildLineups" asp-action="DisplayFDraft">
    <div class="form-group">
        <label asp-for="FDraftName">@Model.FDraftName.Name</label>
        <input class="form-control" asp-for="FDraftName" type="hidden" />
        <input class="form-control" asp-for="@Model.FDraftName.Name" type="hidden" />
        <span asp-validation-for="FDraftName"></span>
    </div>


    <div class="form-group">
        <label asp-for="NumberOfRosters"></label>
        <input class="form-control" asp-for="NumberOfRosters" />
        <span asp-validation-for="NumberOfRosters"> </span>
    </div>

    <div class="form-group">
        <label asp-for="MaxSalary"></label>
        <input class="form-control" asp-for="MaxSalary" />
        <span asp-validation-for="MaxSalary"> </span>
    </div>

    <div class="form-group">
        <label asp-for="MinSalary"></label>
        <input class="form-control" asp-for="MinSalary" />
        <span asp-validation-for="MinSalary"> </span>
    </div>

    <div class="form-group" font color="#FF0000">@ViewBag.TenNeeded</div>

    <div class="form-group" font color="#FF0000">@ViewBag.Exception</div>

    <div class="form-group" font color="#FF0000">@ViewBag.Attempts</div>

    <div class="form-group" font color="#FF0000">@ViewBag.Duplicates</div>

    <div class="form-group">
        <table style="width:80%">
            <tr>
                <th>GolferID</th>
                <th>Golfer</th>
                <th>$ Cost</th>
                <th>% Exposure</th>
            </tr>
            @for (var i = 0; i < Model.TourneyParticipants.Count(); i++)
            {
                <tr>
                    <td>@Model.TourneyParticipants[i].Playerid</td>
                    <td>@Model.TourneyParticipants[i].Name</td>
                    <td>@Model.TourneyParticipants[i].Salary</td>
                    <td><input class="form-control" asp-for="@Model.TourneyParticipants[i].Exposure" /></td>
                    <td><input class="form-control" asp-for="@Model.TourneyParticipants[i].Playerid" type="hidden" /></td>
                    <td><input class="form-control" asp-for="@Model.TourneyParticipants[i].Name" type="hidden" /></td>
                    <td><input class="form-control" asp-for="@Model.TourneyParticipants[i].Salary" type="hidden" /></td>
                </tr>
            }

        </table>
    </div>

    <input type="submit" value="Build Lineups" />
</form>