@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IList<PGAlineupBuilder.Models.BlogPost>

<div class="body-content">

    <h1>@ViewBag.header.Name Posts</h1>

    @*<div class="tools-right">
        @Html.Partial("_SearchArticles")
    </div>*@

    @if (Model.Count() > 0)
    {
        foreach(BlogPost post in Model)
        {
           @Html.Partial("_BlogPostTemplate", post)

        }

    }
    else
    {
        <p>Your search returned 0 Articles.</p>

    }

    <div>
        <p><a asp-action="Index" asp-controller="Home">Return to Homepage</a></p>
    </div>

</div>


@*
@foreach (BlogPost bp in Model)
{
    <div>
        <h3><a asp-action="GetBlogPost" asp-controller="BlogPosting" asp-route-id="@bp.ID">@bp.Name</a></h3>
        <span><a asp-action="CategoryBlogs" asp-controller="BlogPosting" asp-route-id="@bp.Category.ID">@bp.Category.Name</a>&nbsp;<a asp-action="TagBlogs" asp-controller="BlogPosting" asp-route-id="@bp.Tag.ID">@bp.Tag.Name</a></span>-->
    </div>

    <div>
        <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
    </div>

    <div>
        <p>@bp.Content</p>
        <p>Published: @bp.PublishedDate</p>
     
    </div>
}
*@